.yorfy__gradient-purple {
    width: 320px;
    height: 320px;
    top: 192px;
    left: -40px;
}

.yorfy__gradient-blue {
    width: 400px;
    height: 400px;
    top: 128px;
    right: -10px;
}

@media screen and (max-width:950px) {
    .yorfy__gradient-purple {
        width: 240px;
        height: 240px;
        top: 152px;
        left: -108px;
    }

    .yorfy__gradient-blue {
        width: 320px;
        height: 320px;
        top: 104px;
        left: 532px;
    }
}

@media screen and (max-width: 550px) {
    .yorfy__gradient-purple {
        width: 160px;
        height: 160px;
        top: 240px;
        left: -60px;
    }

    .yorfy__gradient-blue {
        width: 240px;
        height: 240px;
        top: 88px;
        left: 180px;
    }
}