.yorfy__home__salebar {
    background: var(--accent-purple);
    display: flex;
    align-items: center;
    padding: 1.5rem 4.5rem;
    justify-content: space-between;
    margin: 2.5rem 0;
}

.yorfy__home__salebar h4 {
    margin: 0 1.5rem;
}

.yorfy__home__salebar-outline {

    color: var(--accent-purple);
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}

@media screen and (max-width:950px) {
    .yorfy__home__salebar {
        padding: 1.5rem 2.5rem;
        margin: 1.5rem 0;
    }

    .yorfy__home__salebar h4 {
        font-size: 16px;
        line-height: 32px;
        margin: 0 1rem;
    }
}

@media screen and (max-width:550px) {
    .yorfy__home__salebar {
        padding: 1.5rem 1rem;
        margin: 1rem 0;
    }

    .yorfy__home__salebar h4:nth-last-child(1),
    .yorfy__home__salebar h4:nth-last-child(2) {
        display: none;
    }
}