.yorfy__aboutUs {
    text-align: center;
    position: relative;
}

.yorfy__heading:first-child {
    padding: 0rem 11rem;
}

.yorfy__aboutUs .yorfy__imageCard {
    padding: 0;
}

@media screen and (max-width:950px) {
    .yorfy__heading:first-child {
        padding: 0;
    }
}

@media screen and (max-width:550px) {
    .yorfy__heading:first-child {
        gap: 0.5rem;
    }

    .yorfy__heading:first-child h1 {

        font-size: 40px;
        line-height: 56px;

    }

    .yorfy__aboutUs .yorfy__imageCard .yorfy__imageCard-content .yorfy__heading {
        text-align: start;
    }
}