.yorfy__nft {
    text-align: center;
    position: relative;

}


.yorfy__nft .yorfy__collection .yorfy__heading {
    padding: 2.5rem 16rem;

}

.yorfy__nft .yorfy__collection .yorfy__collection__heading {
    padding: 0;
}

.yorfy__nft .yorfy__collection {
    margin: 0;
    padding-bottom: 2.5rem;
}

.yorfy__nft .yorfy__collection__content {
    flex-wrap: wrap;
}


@media screen and (max-width:950px) {

    .yorfy__nft .yorfy__collection .yorfy__heading {
        padding: 2.5rem 2rem;
    }

    .yorfy__nft .yorfy__heading h1 {
        font-size: 40px;
        line-height: 56px;
    }

    .yorfy__nft .yorfy__collection {
        margin-bottom: 1.5rem;
    }

}

@media screen and (max-width: 550px) {

    .yorfy__nft .yorfy__collection .yorfy__heading {
        padding: 1.5rem 1rem;
    }

    .yorfy__nft .yorfy__collection button {
        width: 90%;
    }

    .yorfy__nft .yorfy__collection {
        margin-bottom: 0rem;
        padding: 1rem;
    }



}