.yorfy__roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    padding-bottom: 2.5rem;
}

.yorfy__roadmap .yorfy__hero:last-of-type .yorfy__heading {
    padding: 0;
}



.yorfy__roadmap button {
    width: fit-content;
}


@media screen and (max-width:950px) {

    .yorfy__roadmap .yorfy__heading h1 {
        font-size: 40px;
        line-height: 56px;
    }

    .yorfy__gradient-purple:nth-last-of-type(2) {
        top: 5360px;
        left: -108px;
    }

    .yorfy__gradient-blue:last-of-type {
        top: 5300px;
        left: 532px;
    }
}

@media screen and (max-width:550px) {

    .yorfy__roadmap .yorfy__heading {
        gap: 0.5rem;
    }

    .yorfy__roadmap .yorfy__hero:last-of-type .yorfy__heading h1 {
        font-size: 32px;
        line-height: 48px;
    }


    .yorfy__roadmap button:last-child {
        width: 90%;
    }

    .yorfy__gradient-purple:nth-last-of-type(2) {
        width: 160px;
        height: 160px;
        top: 4150px;
        left: -60px;
    }

    .yorfy__gradient-blue:last-of-type {
        width: 240px;
        height: 240px;
        top: 3980px;
        left: 180px;
    }
}