.yorfy__contactUs-socialMedia {
    margin: 6rem 16rem;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.yorfy__contactUs-socialMedia .yorfy__nft-pointcard {
    min-width: 368px;
}

@media screen and (max-width:950px) {
    .yorfy__contactUs-socialMedia {
        margin: 4rem 2.5rem;

    }

    .yorfy__contactUs-socialMedia .yorfy__nft-pointcard {
        flex-direction: row;
    }
}

@media screen and (max-width:550px) {
    .yorfy__contactUs-socialMedia {
        margin: 2.5rem 1rem;
        flex-direction: column;
    }

    .yorfy__contactUs-socialMedia .yorfy__nft-pointcard {
        flex-direction: row;
        width: 100%;
        min-width: 120px;
    }
}