.yorfy__home-header {
    position: relative;
    z-index: 1;
    display: flex;
    margin-bottom: 4.5rem;
    justify-content: space-between;
}


.yorfy__home-header-leftcolumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding-right: 6rem; */
    max-width: 560px;
}

.yorfy__home-header-leftcolumn__milestones {
    display: flex;
    gap: 40px
}

.yorfy__home-header-leftcolumn__milestones-divider {
    border: 1px solid var(--text-disabled);
    height: 80px;
}

.yorfy__home-header-rightcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
}



.yorfy__home-header-rightcolumn__image {
    flex: 1;
    position: absolute;
    top: 0;
    border-radius: 8px;
}

.yorfy__home-header-rightcolumn__image img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
}

.yorfy__home-header-rightcolumn__content {
    width: 480px;
    height: 208px;
    border: 2px solid var(--primary-blue);
    border-radius: 0.5rem;
    background: #FFFFFF1A;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 2.25rem;
}


@media screen and (max-width:950px) {

    .yorfy__home-header {
        margin-bottom: 2.5rem;
    }

    .yorfy__home-header-leftcolumn {
        padding-right: 2rem;
        gap: 24px;
    }

    .yorfy__home-header-leftcolumn__milestones {
        gap: 1rem;
    }




    .yorfy__home-header-rightcolumn__image img {
        width: 252px;
        height: 312px;

    }

    .yorfy__home-header-rightcolumn__content {
        width: 300px;
        height: 256px;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 1.5rem;
    }

    .yorfy__home-header-rightcolumn__content button {
        width: 100%;
    }
}

@media screen and (max-width:550px) {

    .yorfy__home-header {
        flex-direction: column;
        gap: 1rem;
    }

    .yorfy__home-header-leftcolumn {
        gap: 1rem;
        padding-right: 0;
    }


    .yorfy__home-header-leftcolumn__milestones {
        justify-content: space-between;
        text-align: center;
    }

    .yorfy__home-header-leftcolumn__milestones h3 {
        font-size: 32px;
        line-height: 48px;
    }

    .yorfy__home-header-leftcolumn__milestones p {
        font-size: 12px;
        line-height: 24px;
    }

    .yorfy__home-header-rightcolumn {
        position: relative;
        margin-bottom: 10rem;
    }

    .yorfy__home-header-rightcolumn__image {
        position: relative;
    }

    .yorfy__home-header-rightcolumn__image img {

        min-width: 280px;
        min-height: 312px;
    }



    .yorfy__home-header-rightcolumn__content {
        width: 100%;
        position: absolute;
        top: 220px;
        z-index: -1;
        padding: 0.5rem 1rem;
    }


}