:root {
    /* Primary Colors */
    --primary-blue: #1E50FF;
    --primary-dark-blue: #081956;

    /* Secondary Colors */
    --secondary-dark-gray: #0E0E0E;
    --secondary-navy: #051139;

    /* Base Colors */
    --base-black: #000;
    --base-white: #fff;

    /* Text Colors */
    --text-title: #333333;
    --text-body: #666666;
    --text-in-field: #B8B8B8;
    --text-disabled: #EBEBEB;
    --text-white: #fff;

    /* Background/Accent Colors */
    --accent-purple: #AA00FF;
    --accent-cyan: #5699FF;
}

.gradient__bg-blue {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 400px;
    margin: 0;
    background: var(--primary-blue);
    filter: blur(120px);
    opacity: 0.5;
    z-index: -1;
}

.gradient__bg-purple {
    position: absolute;
    height: 400px;
    width: 400px;
    margin: 0;
    background: var(--accent-purple);
    filter: blur(120px);
    opacity: 0.5;
    z-index: -1;
}

.gradient__bg-cyan {
    position: absolute;
    height: 400px;
    width: 400px;
    margin: 0;
    background: var(--accent-cyan);
    filter: blur(120px);
    opacity: 0.5;
    z-index: -1;
}

@media screen and (max-width:950px) {

    .gradient__bg-blue,
    .gradient__bg-cyan,
    .gradient__bg-purple {
        height: 320px;
        width: 320px;
    }

}