.input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-in-field);
    border-radius: 5px;
    background: var(--base-white);
    color: var(--text-body);
}

.input:focus {
    border-color: var(--primary-blue);
    outline: none;
}

.input[disabled] {
    background: var(--text-disabled);
    cursor: not-allowed;
}