.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.grid {
    display: grid;
    gap: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__padding {
    padding: 2.5rem 4.5rem;
}

.section__margin {
    margin: 2.5rem 4.5rem;
}


@media screen and (max-width:750px) {
    .section__padding {
        padding: 1.5rem 2.5rem;
    }

    .section__margin {
        margin: 1.5rem 2.5rem;
    }
}

@media screen and (max-width:550px) {
    .section__padding {
        padding: 1rem 1rem;
    }

    .section__margin {
        margin: 1rem 1rem;
    }
}