.yorfy__home-collection {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.yorfy__home-collection__heading {
    padding: 0 15rem;
}

.yorfy__home-collection__heading h1 {
    font-size: 56px;
    line-height: 72px;
}

.yorfy__home-collection__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
    width: 100%;

}

.yorfy__home-collection__content-image {
    padding: 1.5rem;
    border: 1px solid var(--primary-blue);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.yorfy__home-collection__content-image img {
    box-shadow: 0px 24px 80px 0px #000000CC;
}

.yorfy__home-collection__content-image div {
    display: flex;
    gap: 1rem;
}

.yorfy__home-collection button {
    width: fit-content;
}

.yorfy__home-collection-gradientBlue {
    width: 400px;
    height: 400px;
    top: 1880px;
    left: -136px;
    opacity: 0.5;
}

.yorfy__home-collection-gradientPurple {
    width: 400px;
    height: 400px;
    top: 2000px;
    right: -60px;
    opacity: 0.5;
}

@media screen and (max-width:950px) {
    .yorfy__home-collection {
        gap: 1.5rem;
    }

    .yorfy__home-collection__heading {
        padding: 0;
    }

    .yorfy__home-collection__heading h1 {
        font-size: 32px;
        line-height: 48px;
    }

    .yorfy__home-collection__content {
        flex-wrap: wrap;
        gap: 1rem;

        align-items: center;
        justify-content: center;
    }

    .yorfy__home-collection__content-image {
        padding: 1rem;
        flex: 0;

    }

    .yorfy__home-collection__content-image {
        gap: 1.5rem;

    }

    .yorfy__home-collection__content-image img {
        width: 292px;
        height: 320px;
    }

    .yorfy__home-collection__content-image h5 {
        font-size: 16px;
        line-height: 32px;
    }

    .yorfy__home-collection__content-image div img {
        width: 2rem;
        height: 2rem;
    }

    .yorfy__home-collection-gradientBlue {

        top: 1916px;
        left: -155px;
    }

    .yorfy__home-collection-gradientPurple {
        top: 2160px;
        left: 522px;
    }
}

@media screen and (max-width:550px) {
    .yorfy__home-collection {
        gap: 1rem;
    }

    .yorfy__home-collection button {
        width: 100%;
    }

    .yorfy__home-collection-gradientBlue,
    .yorfy__home-collection-gradientPurple {
        display: none;
    }

}