.yorfy__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4.5rem;
}

.yorfy__navbar-links {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.yorfy__navbar-links_logo a {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.yorfy__navbar-links_logo img {
    width: 40px;
    height: 40px;
}

.yorfy__navbar-links_container {
    display: flex;
    align-items: center;
    gap: 24px;

}

.yorfy__navbar-links_container p {
    color: var(--text-disabled);
}

.yorfy__navbar-links_container p:hover {
    color: var(--text-white);
    cursor: pointer;
}


.yorfy__navbar-links_container p:has(img) {
    display: flex;
}

.yorfy__navbar-button img {
    display: none;
    cursor: pointer;
}

.yorfy__navbar-menu {
    position: absolute;
}

.yorfy__navbar-menu_container {
    display: none;
    position: absolute;
    right: -10px;
    top: 30px;
    z-index: 20;
    background: var(--primary-dark-blue);
    padding: 0 2rem;
    min-width: 190px;
    border-radius: 8px;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.8);
    text-align: end;


}

.yorfy__navbar-menu_container p {
    margin: 1rem 0;
}

.yorfy__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width:950px) {
    .yorfy__navbar {
        padding: 1.5rem 2.5rem;
    }

    .yorfy__navbar-button {
        display: flex;
    }

    .yorfy__navbar-links_container {
        display: none;
    }

    .yorfy__navbar-button img {
        display: inline-block;
        margin: 0 1rem;
    }

    .yorfy__navbar-menu_container {
        display: flex;
        justify-content: end;
    }
}


@media screen and (max-width:550px) {
    .yorfy__navbar {
        padding: 1rem 1rem;
    }

    .yorfy__navbar-links_logo img {
        width: 2rem;
        height: 2rem;
    }

    .yorfy__navbar-links_logo h5 {
        font-size: 1rem;
        line-height: 2rem;
    }

    .yorfy__navbar-menu_container {

        left: 8px;
        top: 52px;
        z-index: 20;
        padding: 0 2rem;
        min-width: 160px;
        text-align: start;
    }

    .yorfy__navbar-menu_container {

        justify-content: start;
    }

}