.yorfy__newsletter {
    text-align: center;
    padding: 6rem 11rem;
    border-radius: 1rem;
    background: var(--primary-dark-blue);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.yorfy__newsletter-heading h1 {
    font-size: 40px;
    line-height: 56px;
}

.yorfy__newsletter .yorfy__newsletter-input .yorfy__inputContainer {
    width: 100%;
}

.yorfy__newsletter-input {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 80%;

}

.yorfy__newsletter-input input {
    flex: 1;
}

@media screen and (max-width:950px) {
    .yorfy__newsletter {
        padding: 40px;
    }

    .yorfy__newsletter-heading h1 {
        font-size: 32px;
        line-height: 48px;
    }

    .yorfy__newsletter-input {

        width: 100%;

    }
}

@media screen and (max-width:550px) {
    .yorfy__newsletter {
        padding: 1.5rem 1rem;
        gap: 40px;
    }

    .yorfy__newsletter-heading h1 {
        font-size: 32px;
        line-height: 48px;
    }

    .yorfy__newsletter-input {
        flex-direction: column;
        align-items: center;
    }

    .yorfy__newsletter-input input {
        width: 100%;
    }

    .yorfy__newsletter-input button {
        width: 100%;
    }
}